.main-header {
  width: 100%;
  height: 76.64px;
  background-color: $primary;
}

.header-items-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  @media screen and (min-width: 624px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-header__logo {
  justify-self: start;
  padding-left: 16px;
  @media screen and (min-width: 624px) {
    justify-self: center;
    padding-left: 0;
  }
}
