$primary: #1ea4ce;
$primary-dark: #147594;
$primary-passive: #f2f0fd;

$white: #ffffff;

$gray-100: #fafafa;
$gray-200: #f4f4f4;
$gray-300: #e0e0e0;
$gray-400: #c4c4c4;
$gray-500: #a8a8a8;
$gray-600: #6f6f6f;
$gray-700: #525252;
$gray-800: #191919;
$gray-900: #111111;

$secondary-text: #697488;
