// CSS Reset
@import "../node_modules/normalize.css/normalize.css";

// Partials
@import "_colors.scss";
@import "_breakpoints.scss";
@import "_mixins.scss";

// Pages
@import "pages/index.scss";

// Components
@import "components/header/Basket.scss";
@import "components/header/Header.scss";
@import "components/main/CheckboxGroup.scss";
@import "components/ui/Checkbox.scss";
@import "components/ui/Radio.scss";
@import "components/main/RadioGroup.scss";
@import "components/main/product/ProductItem.scss";
@import "components/main/product/ProductGroup.scss";
@import "components/main/product/Pagination.scss";
@import "components/main/product/ItemTypeFilter.scss";
@import "components/basket/Basket.scss";
@import "components/basket/BasketItem.scss";
@import "components/footer/Footer.scss";

.container {
  max-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include media($xs) {
    max-width: 420px;
  }
  @include media($sm-md) {
    max-width: 576px;
  }
  @include media($lg) {
    max-width: 854px;
  }
  @include media($xl) {
    max-width: 1232px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: $gray-800;
  background-color: $gray-100;
}
